&__sac {
  .duvidas {
    &__image {
      position: absolute;
      bottom: 0;
      left: 0;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    h4 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    &__links {
      width: 20%;
      margin: 0 auto;

      @media (max-width: 768px) {
        display: none;
      }

      @media (min-width: 769px) {
        width: 20%;
      }

      li {
        font-weight: map.get($fontWeights, "normal");
        transform: scale(1);
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        color: map.get($colors, "white");
        cursor: pointer;
      }

      li.active {
        font-weight: map.get($fontWeights, "bold");
        transform: scale(1.05);
        color: map.get($colors, "white");
      }

      &__mobile{

        @media(min-width: 769px){
          display: none;
        }

        display: flex;
        gap: 12px;
        color: map.get($colors, "white");
        overflow-x: auto;
        padding: 24px 0 16px 0;
        

        li{
          white-space: nowrap;
          border: 1px solid map.get($colors, "white"); 
          padding: 6px 12px;
          border-radius: 16px;
        }

        li.active{
          color: map.get($colors, "secondary-blue");
          font-weight: map.get($fontWeights, "normal");
          background: map.get($colors, "white");
        }

      }
    }

    &__content {
      width: 50%;
      margin: 0 auto;

      @media (max-width: 768px) {
        width: 100%;
        margin: 0;
      }

      @media (min-width: 769px) {
        width: 80%;
      }
    }

    &__accordion {
      cursor: pointer;
      background-color: transparent;
      width: 100%;
      padding: 0;
      text-align: left;
      outline: none;
      border: none;
      transition: 0.4s;
      position: relative;
      display: block;
      padding: 0 20px 12px 0;
      border-bottom: 1px solid map-get($colors, "white");
    
      &::after {
        border-style: solid;
        border-width: 0.2em 0.2em 0 0;
        content: "";
        display: inline-block;
        height: 0.7em;
        right: 15px;
        position: absolute;
        top: 0.15em;
        transform: rotate(135deg); 
        vertical-align: top;
        width: 0.7em;
        transition: transform 0.3s ease-in-out;
      }
    
      &.active::after {
        transform: translateY(50%) rotate(-45deg); 
      }
    
    
      p {
        width: 35%;

        @media (min-width: 1200px) {
          width: 50%;
        }

        @media (max-width: 900px) {
          width: 75%;
        }

        @media (max-width: 768px) {
          width: 90%;
        }
      }
    }

    &__panel {
      margin-bottom: 24px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      img {
        max-width: 100%;
      }

      p {
        padding: 10px 0;
        text-align: justify;

        @media (max-width: 767px) {
          padding: 10px;
        }
      }

      &__more {
        a {
          display: flex;
          cursor: pointer;
          text-decoration: none;
          flex-direction: column;
          gap: 12px;
          background: map.get($colors, "white");
          border-radius: 12px;
          padding: 24px;

          @media(max-width: 768px){
            padding: 16px;
          }
        }
        a > h2,
        a > P {
          color: map.get($colors, "secondary-blue");
        }
        a > p {
          padding: 0px;
        }

        a:hover > h2,
        a:hover > p {
          color: map.get($colors, "primary-blue");
        }
      }
    }

    @media (min-width: 768px) {
      &__accordion,
      &__panel {
        display: block;
      }

      &__accordion {
        &::after {
          font-size: 16px;
        }
      }
    }
  }
}
